.main__form-generate {
  outline: none;
  margin: 20px 0 0;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  height: 25px;
  color: black;
  text-align: center;
}

.main__form-generate:hover {
  background-color: rgb(185, 209, 209);
  cursor: pointer;
}

.main__form-generate:focus {
  outline: 2px solid #fff;
}